@page
@model MvLAuthServer2.Pages.Admin.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<a asp-page="Users/Index">Users</a>

<a asp-page="Bans/Index">Bans</a>

<a asp-page="News/Index">News</a>

<a asp-page="Sql">Sql</a>